<% if errors && errors.any? %>
	<div class="alert alert-error">
		Looks like you had a couple problems:
		<ul>
			<% errors.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>