<h1>Alpha1 : Home</h1>
<code>Testing 1, testing 1, 2, 3</code>

<br />
<a href="http://www.google.com/">Big G</a>

<div class="row-fluid btmbar">
	<div class="span12">
		TEXT that is going to be really long in fact I think I might have to copy and past this after a while TEXT that is going to be really long in fact I think I might have to copy and past this after a while TEXT that is going to be really long in fact I think I might have to copy and past this after a while TEXT that is going to be really long in fact I think I might have to copy and past this after a while TEXT that is going to be really long in fact I think I might have to copy and past this after a while TEXT that is going to be really long in fact I think I might have to copy and past this after a while
	</div>
</div>
