<% provide :title, "Home" %>
<h1>Welcome home</h1>

<div class="row-fluid btmbar">
	<div class="span12">
	<!--
	<%= image_tag("https://lh4.googleusercontent.com/-i7f0CuFHcms/Tz_V5Wnam9I/AAAAAAAAH7A/itrcKY3Gh_E/w533-h711-no/IMG_1052.jpg") %>
	-->

	Currently testing:
	<ul>
		<li><%= link_to "Shouts", shouts_path %> </li>
	</ul>

	</div>
</div>